<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="c6de92e3-9d71-41ec-8e14-87d60f91f1c6"
    Version="1.0.0.0"
    Publisher="CN=Matt" />

  <Properties>
    <DisplayName>RealWorldStocks.Windows</DisplayName>
    <PublisherDisplayName>Matt</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="RealWorldStocks.Windows"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="RealWorldStocks.Windows"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
